body{
  width: 100%;
  margin: 0 0;
  padding: 250px 0 0 0;
  background-color: #523737;
}

.btn{
  cursor:pointer;
}

h1{
  color:red;
  transition: color 0.4s ease-in-out;
}

.clicked{
  color:yellow;
}

.timer{
  position:relative;
}
.timer .js-greetings{
  color:pink;
}

.js-clock{
  color:white;
}
.timer .timer-body{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:column;
  background-color: #523737;
}

.timer a {
  text-decoration:none;
}

.form,
.greetings{
  display: none;
}

.showing{
  display: block;
}

.todo-div{
  width:100%;
  padding-top: 30px;
}

.timer .timer-body{
  display:flex;
  justify-content:center;
  margin:0;
  padding-bottom:20px;
  width:100%;
  position:fixed;
  z-index:2;
  top:0;
}

.todo-div{
  padding-top:30px;
  background-color: #523737;
}

.js-toDoList{
  left: 0;
}
